.button {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.buttonOutline {
  border: 4px solid var(--ifm-color-gray-900);
  color: var(--ifm-color-gray-900);
  border-radius: 4px;
}

.buttonOutline:hover {
  border-color: var(--ifm-color-primary);
  color: var(--ifm-color-primary);
}

.buttonFull {
  border: none;
  background-color: var(--ifm-color-gray-900);
  color: var(--ifm-color-white);
  border-radius: 4px;
}

.buttonFull:hover  {
  background-color: var(--ifm-color-primary);
}
