.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .columns {
    flex-direction: column;
    margin-bottom: 0 !important;
  }
}
